.info-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.wnw-where-when {
  margin-top: 1em;
}

.event-site {
  margin-top: 1em;
  text-align: center;
}
.wnw-where {
  text-align: center;
  max-width: 500px;
  cursor: pointer;
}

.info-line .wnw-content {
  margin: 0 0.7em;
}
