.footer-frame {
  min-height: 17em;
  max-height: 17em;
  overflow: hidden;
  position: relative;
}
.footer-details {
  max-height: 10em;
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  background-color: #c62828;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}
.footer-detail-pane {
  position: relative;
}

.footer-info {
  flex-grow: 5;
}
.footer-link-item {
  min-width: 30%;
  max-width: 30%;

  float: left;
}
.footer-links {
  min-height: 8em;
  text-align: center;
}
.footer-link-item {
  /* border: 1px solid white; */
}
.footer-link-item a {
  color: #fff;
  text-decoration: none;
}
.footer-logo {
  flex-grow: 1;
  border-right: 3px dashed #fff;
  position: relative;
}

.footer-copyright {
  opacity: 0.5;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  left: 2em;
}

@media (max-width: 699px) {
  .footer-details {
    display: block;
    max-height: 15em;
  }
  .footer-logo {
    border: none;
  }
  .footer-links {
  }
  .footer-link-item {
    min-width: 50%;
    max-width: 50%;
    margin: 0;
    padding: 3px;
    float: none;
    display: inline-block;
  }
}
