/* .opaque{
    opacity: 1
}
.clear{
    opacity: 0;
} */
.story-pane {
  padding: 10vh 25px 5vh 25px;
  font-size: 20px;
}
.story-pane-title {
  font-size: 2.2em;
  font-weight: 500;
  padding-bottom: 0.5em;
}
.split-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.split-pane .paralax-cell {
  min-width: 50vw;
  position: relative;
  top: 7vh;
}
.paralax-cell .filler {
  min-width: 50vw;
  height: 37.5vw;
}
.centered-content {
  margin: auto;
}

@media (max-width: 899px) {
  .split-pane .paralax-cell {
    display: none;
  }
}
