

.colors{
  /* primary */
  color: #f06292;
  color: #ff94c2;
  color: #ba2d65;
  /* real primary */
  color: #1a237e;
  color: #534bae;
  color: #000051;
  /* real recondary */
  color: #aed581;
  color: #e1ffb1;
  color: #7da453;
  
}


.App {
  text-align: center;
}

