.colors {
  /* primary */
  color: #f06292;
  color: #ff94c2;
  color: #ba2d65;
  /* real primary */
  color: #000;
  color: #000;
  color: #000;
  /* real recondary */
  color: #aed581;
  color: #e1ffb1;
  color: #7da453;

  /* primary */
  color: #000;
  color: #000;
  color: #000;
  /* secondary */
  color: #960709;
  color: #d30a0c;
  color: #660a0b;
}

.App {
  text-align: center;
}
