.rsvp-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rsvp-tile {
  width: 10em;
  margin: 5px;
  padding: 5px;
  transition: all 0.3s;
  cursor: pointer;
}
.rsvp-tile:hover {
  box-shadow: 0 0 5px lightgray;
}
.icon-line {
  display: flex;
  align-items: flex-start;
}

.icon-line .icon {
  margin-right: 1em;
  font-weight: 700;
  color: #333;
}
.rsvp-name {
  font-size: 1.1em;
  font-weight: 700;
}
.rsvp-attending.accept .icon {
  color: green;
}

.rsvp-attending.reject .icon {
  color: red;
}
.rsvp-meal {
  text-transform: capitalize;
}
.rsvp-meal-icon {
}

.veg .rsvp-meal-icon {
  color: green;
}
.veg .rsvp-meal-name {
  color: green;
}
