.action-button {
    float: right;
    right: 10%;
    position: relative;
}

.full-name{
    font-size: 1.2em;
    font-weight: 700;
}

.meal-question{
    margin: 1em auto;
    font-size: 1.2em;
    padding-right: 14px;
}