@import url('https://fonts.googleapis.com/css?family=Roboto');

/* wedding fonts */
@import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script:700|Great+Vibes');

.colors{
  /* primary */

  /* primary */
  color: #1a237e;
  color: #534bae;
  color: #000051;
  /* secondary */
  color: #c62828;
  color: #ff5f52;
  color: #8e0000;
 }

#web-bar-frame{
    z-index: 5;
    height: 4em;
    width: 100%;
    /* position: absolute; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #1a237e;
    color: #fff;
    display: flex;
    flex-direction:row;
}
#web-bar-frame:hover{
    
}

.web-bar-list{
    list-style: none;
    text-align: center;
    padding: 1em;
    margin: 0;
    flex-grow: 1;
}
.web-bar-list .web-bar-item{
    display: inline-block;
    margin: 0 2em;
    
}
.web-bar-list .web-bar-item a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

@media (max-width: 889px) { 
    #web-bar-frame{
        display: none;
    }
  }