@import url("https://fonts.googleapis.com/css?family=Roboto");

/* wedding fonts */
@import url("https://fonts.googleapis.com/css?family=Cookie|Dancing+Script:700|Great+Vibes");

.colors {
  /* primary */

  /* primary */
  color: #000;
  color: #000;
  color: #000;
  /* secondary */
  color: #960709;
  color: #d30a0c;
  color: #660a0b;
}

#web-bar-frame {
  z-index: 5;
  height: 4em;
  width: 100%;
  /* position: absolute; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
}
#web-bar-frame:hover {
}

.web-bar-list {
  list-style: none;
  text-align: center;
  padding: 1em;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
/* .web-bar-list .web-bar-item{
    display: inline-block;
    margin: 0 2em;
    
} */
.web-bar-list .web-bar-item a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

@media (max-width: 889px) {
  #web-bar-frame {
    display: none;
  }
}
